.deps
.libs
autom4te.cache
*.lo
m4
Makefile
Makefile.in
aclocal.m4
ar-lib
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
imfit
imfit.pc
install-sh
libimfit.la
libtool
ltmain.sh
makeimage
missing
.autotools
.cproject
.project
.settings
*.gz
